
.main-jongleur{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-red {
    color: var(--red);
}
.main-jongleur__hero-container{
    max-width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-bottom: var(--secundary)1px solid;
    padding-top: 1rem;
    margin-inline: 10%; 
}
@media screen and (max-width: 768px) { 
    .main-jongleur__hero-container{
        flex-direction: column;
        align-items: center;
        margin-inline: 10%;
    }
}
.main-jongleur__text-container{
    max-width: 450px;
    font-size: 1.2rem;
    padding: 20px;
    line-height: 1.5em;
    .main-jongleur__title{
        letter-spacing: 0.2rem;
        color: var(--secundary);
    }
    .main-about__text--slogan{
        font-size: 1.5rem;
    }
    .main-jongleur__text{
        color: var(--secundary);
    }
}




.jongleur-image__container{
    width: 250px;
    position: relative;
    margin: 0.2rem;
    aspect-ratio: 480/640;
    background: rgb(131,58,180);
    background: linear-gradient( 36deg,rgba(252,170,69,1) 0%, rgba(253,29,29,1) 50%,  rgba(131,58,180,1) 100%);
    border-radius: 30px 30px 30px 0;
    box-shadow:  2px 2px 6px #000000,
             -2px -2px 6px #010101;
    .jongleur-image__item{
        max-width: 80%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        
    } 
}
.jongleur-galery__container{
    width: 90%;
    display: flex;
    flex-direction: row;  
    flex-grow: 2, 3;
    align-items: center;
    justify-content: center;
   
    
}
@media screen and (max-width: 768px) { 
    .jongleur-galery__container{
        flex-direction: column;
        align-items: center;
    }
}

.jongleur-image__container--polaroid {
    width: min( 100%, 250px) ;
    background: #fff;
    padding: 0.25rem;
    margin: 0.75rem;
    box-shadow:  2px 2px 6px #000000,
             4px 4px 6px #010101;
    .jongleur-image__item{
        max-width: 100%;
        object-fit: cover; 
    } 
    .jongleur-image__text {
        color: var(--black);
        text-align: center;



    }
}