*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Lato', sans-serif;

}
:root {
    --primary:#F2F2F2;
    --secundary:#737373;
    --dark: #323232;
    --blue: rgb(44, 44, 176);
    --red: #db0000;
    --yellow:#FFD714;
    --green: #3E9C0B;
    --black: #0D0D0D;
    --class: LightSkyblue;
    --wert: chocolate;
}
.main{
    min-height: 100%;
    width: 100vw;
    padding-top: 3rem;    
    background-color: var(--dark);
    color: var(--primary);
}

.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) { 
    .main-about{ 
        flex-direction: column;
    } 
   
}
.main-about__text-container{
    max-width: 450px;
    font-size: 1.2rem;
    padding: 20px;
    margin: 1rem;
    z-index: 0;
    line-height: 1.5em;
    border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #363636, #2d2d2d);
    box-shadow:  2px 2px 6px #2b2b2b,
             -2px -2px 6px #3a3a3a;
}
.main-about__text{
    letter-spacing: 0.1rem;
    font-size: 1rem;
}
.main-about__title{
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
    color: var(--secundary);
}
.about-image__container{
    max-width: 250px;
    margin: 1rem;
    /*background-color: var(--primary);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.about-image__item{
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
}
.text-red {
    color: var(--red);}
footer{
    width: 100%;
    bottom: 0;
    color: var(--secundary);
    background-color: var(--dark);
    text-align: right;
    padding: 0.5rem;
}
