*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Lato', sans-serif;

}
:root {
    --primary:#F2F2F2;
    --secundary:#737373;
    --dark: #323232;
    --blue: blue;
    --red: #db0000;
    --yellow:#FFD714;
    --green: #3E9C0B;
    --black: #0D0D0D;
    --class: LightSkyblue;
    --wert: chocolate;
    --background: #262626;
    --grey: #404040;
}
.main{
    min-height: 100%;
    width: 100%;
    background-color: var(--dark);
    color: var(--primary);
}

.main-about{
    display: grid;
    place-items: center;
    align-content: center;
    // min-height: 100vh;
}

@media screen and (max-width: 768px) { 
    .main-about{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }
   
}

// .main__scroll-animation {
//     display: grid;
//     place-items: center;
//     align-content: center;
//     min-height: 100vh;
// }

// .hidden {
//     opacity: 0;
//     filter: blur(5px);
//     transform: translateX(-100%);
//     transition: all 1s;
// }

// @media(prefers-reduced-motion) {
//     .hidden {
//         transition: none;
//     }
// }
// .show {
//     opacity: 1;
//     filter: blur(0);
//     transform: translateX(0);
// }

// .logos {
//     display: flex;
//     gap: .3rem;
// }

// .logo:nth-child(2) {
//     transition-delay: 300ms;
// }
// .logo:nth-child(3) {
//     transition-delay: 600ms;
// }
// .logo:nth-child(4) {
//     transition-delay: 900ms;
// }
// .logo:nth-child(5) {
//     transition-delay: 1200ms;
// }

.main-about__text-container{
    max-width: 850px;
    font-size: 1.2rem;
    padding: 20px;
    display: flex;
    gap: 0.8rem;
    margin: 1rem;
    z-index: 0;
    line-height: 1.5em;
    background: linear-gradient(145deg, #262626, #404040);
    box-shadow:  2px 2px 6px #2b2b2b,
             -2px -2px 6px #3a3a3a;
}
@media screen and (max-width: 768px) { 
    .main-about__text-container{ 
        flex-direction: column;
        align-items: center;
    } 
   
}
.main-about__title{
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
    color: var(--secundary);
}
.main-about__text{
    max-width: 450px;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.about-image__container{
    max-width: 250px;
    /*background-color: var(--primary);*/
}
.about-image__item{
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
}

footer{
    width: 100%;
    bottom: 0;
    color: var(--secundary);
    background-color: var(--dark);
    text-align: right;
    padding: 0.5rem;
}
