.menu {
    width: 100%;
    background-color:var(--black); 
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 300;
}
.menu__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.menu__item {
    text-decoration: none;
    margin: 1rem;
    text-transform: uppercase;
    color:var(--secundary);
}
.menu__item--name, .menu__item--mail{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: var(--primary);
    text-transform: capitalize;
}
.menu__item--burger{
    color: var(--primary);
}
.menu__item--list:hover {
    color:var(--primary)
}
.page-pageProgramer .menu__item--list-programer{
    color: var(--blue);
}
.menu__item--list-programer:hover{
    color: var(--blue);
}
.page-pageFotograf .menu__item--list-fotograf{
    color: var(--green);
}

.menu__item--list-fotograf:hover{
    color: var(--green);
}
.page-pageJongleur .menu__item--list-jongleur{
    color: var(--red);
}
.menu__item--list-jongleur:hover{
    color: var(--red);
}
.menu__item--icon {
    font-size: 1.2rem;
}
.menu__item--icon:hover {
    color:var(--primary)
}
.menu__item--name:hover, .menu__item--mail:hover, .menu__item--burger:hover {
    color:var(--secundary)
}
dl, ol, ul{
    margin-bottom: 0;
}
@media screen and (max-width: 875px) { 
    .menu__item--icon { 
        display:none;
    } 
     
}
@media screen and (max-width: 876px) { 
    .menu__item--mail { 
        display: contents;
    } 
     
}
@media screen and (max-width: 767px) { 
    .menu__item--list-programer, .menu__item--list-fotograf, .menu__item--list-jongleur  { 
        display:none;
    } 
}
@media screen and (min-width: 768px) {   
    .menu__item--burger {
        display: none;
    }
}
.dropdown{
    display: inline-block;
    .dropdown-content{
        display: none;
        position: absolute;
        right: 0;
        background-color: var(--dark);
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
        a{
            color: var(--secundary);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        a:hover {background-color: #f1f1f1;}
    }  
}
.dropdown:hover .dropdown-content {
    display: block;
}
.footer-container {   
    width: 100%;
    background-color: var(--black);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__list{
    color: var(--primary);
    display: flex;
    list-style-type: none;
} 
@media screen and (min-width: 876px) { 
    .menu__item--icon-footer{ 
        display:none;
    } 
    .footer-container {  
        display:none; 
    
    }
}

.copyright {
    color: var(--primary);
}
