.main-programer{
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programer-icon__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #363636, #2d2d2d);
    box-shadow:  20px 20px 60px #2b2b2b,
             -20px -20px 60px #3a3a3a;
    i{
        font-size: 6rem;
        margin: 1rem;
        color: var(--secundary);
      
    }
}
/*@media screen and (max-width: 768px) { 
    .programer-icon__container{ 
        flex-direction: column;
    }  
}*/