.main-programer{
   
}
.main-programer__text-container{
    padding: 0.5rem 1rem 0.5rem;
    
    line-height: 1.5em;
    background: linear-gradient(145deg, #262626, #404040);
    box-shadow:  20px 20px 60px #2b2b2b,
             -20px -20px 60px #3a3a3a;
}
.main-programer__text-container--escaped{
    padding-left: 0.5rem;
    line-height: 1.5em;
    overflow: hidden;
    background: linear-gradient(145deg, #262626, #404040);
    box-shadow:  2px 2px 6px #2b2b2b,
             -2px -2px 6px #3a3a3a;
}
.main-programer__title{
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
    color: var(--secundary);
}
.main-programer__text{
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}
.main-programer__text--escaped{
    text-align: left;
    letter-spacing: 0.1rem;
    font-size: 0.5rem;
}

.programer-icon__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #262626, #404040);
    box-shadow:  20px 20px 60px #2b2b2b,
             -20px -20px 60px #3a3a3a;
    i{
        font-size: 6rem;
        margin: 1rem;
        color: var(--secundary);
    }
}



@media screen and (max-width: 768px) { 
    .main-programer{
        justify-content: flex-start;
        
    }
    .programer-icon__container{
        i{
            font-size: 3rem;
            margin: 0.7rem;
            color: var(--secundary);
        }
    }
    .main-programer__text-container{
        font-size: 0.8rem;

    }
    
}
.element{
    color: var(--blue);
}
.class{
    color: var(--class);
}
.wert{
    color: var(--wert);
}
.commentar{
    color: var(--green);
}
